/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

/* Header */
header {
    background: #0062cc;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 3em;
    letter-spacing: 1px;
}

header p {
    margin: 5px 0 20px;
    font-size: 1.2em;
}

.resume-btn {
    background: #ffc107;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.resume-btn:hover {
    background: #e0a800;
}

/* Navigation */
nav {
    text-align: center;
    background: #0056b3;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px 10px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background: #004085;
    border-radius: 5px;
}

/* Section Styles */
section {
    padding: 40px 20px;
    margin: 20px auto;
    max-width: 1000px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    color: #0062cc;
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 2em;
    letter-spacing: 1px;
}

p, li {
    font-size: 1.1em;
    line-height: 1.8em;
}

/* Project Section */
.project {
    margin-bottom: 30px;
}

.project h3 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.project p {
    font-size: 1.1em;
}

.project a {
    color: #0062cc;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.project a:hover {
    color: #0056b3;
    text-decoration: underline;
}

/* Skills Section */
#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#skills ul li {
    background: #f1f1f1;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Contact Section */
.social-media a {
    margin-right: 15px;
    text-decoration: none;
    color: #0062cc;
    font-size: 1.2em;
    transition: color 0.3s;
}

.social-media a:hover {
    color: #0056b3;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background: #00509e; /* Lightened the blue color */
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}
